body {
    background-image: url("https://images.unsplash.com/photo-1490630327850-eefa0d9de035?ixlib=rb-1.2.1&auto=format&fit=crop&w=1476&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    background-color: #e9ecef91;
    padding-bottom: 70px;
}

.underline {
    text-decoration: underline;
}

.marginleft {
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
}

.col-md-10 {
    background-color: #e9ecef;
    margin-bottom: 10px;
    border-radius: 15px;
}

.card {
    margin-top: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-bottom: 70px;
}

li {
    margin-top: 4px;
}